.world {
	box-sizing: content-box;
	position: relative;
	width: calc(var(--cell-size) * var(--world-size));
	height: calc(var(--cell-size) * var(--world-size));
	border: 4px solid rgb(76, 96, 214);
	background: rgb(145, 226, 182)
}

.tile {
	position: absolute;
	width: var(--cell-size);
	height: var(--cell-size);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 200ms;

	&:nth-child(even) {
		filter: brightness(1.2)
	}
}

.head {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;

	&::after {
		content: ':)';
		font-weight: 900;
		font-size: larger;

	}
}

.tail {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.apple {
	border-radius: 50%;
}